@import "~antd/lib/style/color/colorPalette.less";
@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/dark.less";

@component-background: #253054;
@layout-body-background: #19203a;
@layout-header-background: #212b50;
@layout-sider-background: @component-background;

.custom-card:hover{
    background-color: #212b50;
}