@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap-utilities.min.css");
.card-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-center > .ant-card {
  width: 450px;
  margin: auto;
  padding: 1rem;
}
.container {
  padding: 12px 16px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text-center {
  text-align: center;
}
.otp-input {
  width: 3.5rem !important;
  margin: 1rem 0.5rem !important;
  height: 3.5rem;
  font-weight: bold;
}
.logo {
  height: 32px;
  margin: 16px;
  background: #00b7ff;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
  border-radius: 20px;
}
.vh65 {
  height: 65vh;
}

.ant-layout-footer {
  padding: 20px 40px !important;
}

.overflow-auto {
  overflow: auto;
}
.custom-card{
  .ant-list-item-meta{
    padding: 0 1rem !important;
    cursor: pointer;
  }
  .ant-list-item-action{
    visibility: hidden;
  }
}
