.card-center {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}
.card-center > .ant-card {
  width: 500px;
  margin: auto;
}
.container {
  padding: 25px 50px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text-center {
  text-align: center;
}
.otp-input {
  width: 100% !important;
  margin: 1rem 0.5rem !important;
  height: 4em;
}
.logo {
  height: 32px;
  margin: 16px;
  background: #00b7ff;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgb(155, 153, 153);
  border-radius: 20px;
}
